<p class="text-center">
	<img src="{{asset('bundles/app/images/main_page/image.png')}}"
		 alt="Nouveaux projet de rénovation ?" />
</p>

<h3 class="text-center">
	Vous avez un projet de rénovation ou de
	construction ? <br />
	Contactez-nous !
</h3>

<p class="text-center">
	<a href="">
		<img src="{{asset('bundles/app/images/main_page/contact.png')}}"
		 	 alt="Contactez-nous !">
	</a>
</p>

<div class="row">
	<a href="" class="span1 text-center">
		<br/>
		<img src="{{asset('bundles/app/images/main_page/facebook.png')}}"
		     alt="Suivez nous sur facebook">
	</a>
	<p class="span2">
		Suivez-nous sur facebook. Découvrez nos photos, participez aux sujets
		de discussions, devenez fan !
	</p>
</div>
