<ul>

    <li><a href="{{path('app_page_index')}}" class="menu-item">Vos pages</a></li>

    <li><a href="{{path('app_news_index')}}" class="menu-item">Vos actualités</a></li>

    {# <li><a href="{{path('frontend', {'page': ''})}}" class="menu-item">Déconéxion</a></li> #}
</ul>
