{% extends 'App::layout.html.twig' %}

{% block title 'Administration - Réseau AVEC' %}

{% block unit %}
	<img src="{{asset('bundles/app/images/header/text_admin.png')}}"
		 alt="Éspace d'administration"/>
{% endblock %}

{% block menu %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'App::Admin/_menu.html.twig' %}
    {% endif %}
{% endblock %}

{% block container %}
	<nav class="fast-nav">
		{% block navigation '' %}
	</nav>

	{% block content %}
        
        {% block fos_user_content '' %}
        
        {% if is_granted('ROLE_ADMIN') %} 
            {% include 'App::Admin/_dashboard.html.twig' %}
        {% endif %}
	</ul>

	{% endblock %}

	<nav class="fast-nav">
		{{block('navigation')}}
	</nav>

{% endblock %}

{% block footer_up %}
	Administration Réseaux AVEC. Proposé par Webs Génération Internet.
{% endblock %}
