{% extends 'App::homepage.html.twig' %}

{% block header %}
<h1>Admin</h1>
{% endblock %}

{% block content %}

	<h2>Que voulez-vous administrer ?</h2>

{% endblock %}

{% block footer %}
<p>Administration Réseaux AVEC</p>
{% endblock %}