<!DOCTYPE html>
<html>
<body>
	<script type="text/javascript">
window.parent.CKEDITOR.tools.callFunction({{callback}}, 
	"http://{{asset('uploaded/'~file_name)}}",
	"{{message}}");
	</script>
</body>
</html>