{% extends 'App::Page/home.html.twig' %}

{% block page %}

	<div class="flashes text-center">
		<a href="{{path('frontend', {'uri': 'actions'})}}" class="btn btn-small">
			Revenir à la liste des actions
		</a>
	</div>

	<div class="page-header">

		<h1>{{actions.title}} <br /><small>paru le {{actions.createdAt}}</small></h1>

	</div>

	{{actions.content|raw}}

{% endblock %}
