{% extends 'App::Admin/index.html.twig' %}

{% block navigation %}
	<a href="{{path('app_page_index')}}" class="btn">Revenir à la liste des pages</a>
{% endblock %}

{% block content %}

<form method="PUT" 
    action=" {{path('app_page_update', {'id': data.id})}} " 
    {{ form_enctype(form) }} 
    class="form form-horizontal">
    {{ form_widget(form) }}
    <input type="submit" class="btn" />
</form>

{% endblock content %}