{% extends 'App::homepage.html.twig' %}

{% block content %}

<form method="POST" 
	action="{{path('app_page_create')}}" 
	{{ form_enctype(form) }} 
	class="form form-horizontal">
    {{ form_widget(form) }}
    <input type="submit" class="btn" />
</form>

{% endblock content %}