{% extends 'App::homepage.html.twig' %}

{% block content %}

<form method="PUT" 
	action="{{path('app_menu_update', {'id': data.id})}}" 
	{{ form_enctype(form) }} 
	class="form form-horizontal">
    {{ form_widget(form) }}
    <input type="submit" class="btn" />
</form>

{% endblock content %}